@import "bootstrap/scss/bootstrap";
@import "reset";
@import "size";
@import "icons";
@import "variables";

html,
body {
  height: 100%;
}

body {
  background-image: url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Inter;
  @extend .container-fluid;
}

.container-md {
  max-width: 1200px;
}

.active {
  color: white !important;
  background-color: $bg-active;
  border-radius: 8px;
}

.private-office {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 50px;

  header {
    display: flex;
    width: 100%;
    position: relative;
    height: 100px;
  }

  &__logotype {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../assets/images/logotype.svg');
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 200px;
    height: 60px;
    width: auto;
    color: white;
    display: flex;
    @extend .fs-1
  }

  &__modal {
    border: 1px solid #000;
    flex: 1;
    @extend .br-16;
    @extend .container-md;
    @extend .bg-white;
    @extend .p-16;

    .title {
      color: #6D5C70;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      text-align: left;
    }

    .color-gray {
      color: #AAA0AB;
    }
  }

  &__levels {
    max-width: 270px;
    width: 100%;
    border-right: 1px solid $border-color;
    padding: 16px;
    display: flex;
    flex-direction: column;

    .list {
      color: #AAA0AB;

      li {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        cursor: pointer;

        div {
          position: relative;
          padding-left: 30px;
          height: 32px;
          color: #AAA0AB;

          .icon {
            left: 8px;
            top: 5px
          }
        }

        .status {
          color: #DCD0EC
        }

        &.open {
          color: white;
          border-radius: 8px;

        }

        &.active {
          .status {
            color: #AAA0AB;
          }
        }
      }

    }
  }

  &__topics {
    max-width: 265px;
    width: 100%;
    border-right: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    padding: 16px;

    li {
      padding: 0 8px;
      height: 32px;

      div {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
      }

      &.completed {
        color: #14001A;
      }

      .icon-completed,
      .icon-completed-white {
        top: 50%;
        margin-top: -11px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
