<div class="private-office">
  <header>
    <a href="/">
      <div class="private-office__logotype">
        My vocabulary
      </div>
    </a>
  </header>

  <div class="private-office__modal d-flex justify-content-between">
    {{page-title "Client"}}

    {{outlet}}
  </div>
</div>