
<div class="private-office">
  <header>
    <div class="private-office__logotype">My vocabulary</div>
  </header>

  <div class="private-office__modal d-flex justify-content-between">
    <div class="d-flex private-office__levels">
      <div class="title pb-8">Рівні</div>

      <ul>
        {{#each this.levels key="id" as | level|}}
          <li>{{level.title}}</li>
        {{/each}}
      </ul>
      ++++++++++++++++++++

      <ul class="list">
        <li class="active">
          <div>
            <i class="icon icon-active"></i>
            Charlie Preschool 1
          </div>
          <span class="color-gray">100%</span>
        </li>
        <li class="active">
          <div>
            <i class="icon icon-active"></i>
            Charlie Preschool 12
          </div>
          <span class="color-gray">80%</span>
        </li>
        <li class="open active">
          <div>
            <i class="icon icon-open"></i>
            Charlie Starter 1
          </div>
          <span class="color-gray">65%</span>
        </li>
        <li>
          <div>
            <i class="icon icon-closed"></i>
            Charlie Starter 2
          </div>
          <span class="color-gray"></span>
        </li>
        <li>
          <div>
            <i class="icon icon-closed"></i>
            Charlie Starter 1
          </div>
          <span class="color-gray"></span>
        </li>
      </ul>
    </div>
    <div class="d-flex w-100">
      <div class="d-flex private-office__topics flex-column">
        <div class="title pb-8">Теми</div>
        ++++
      </div>
      <div class="d-flex private-office__content w-100">
        empty
      </div>
    </div>
  </div>
</div>